/*-------RESET-------*/

*{
    list-style: none;
    font-size: 1.05rem;
    text-decoration: none !important;
    color: var(--negro);
}

/*Footer*/
#footer {
    background-color: var(--negro);

    height: 5.5rem;
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;
}

#footer ul {
    list-style-type: none;

    justify-content: space-around;
    align-items: center;

    height: 100%;
}

#footer li {
    width: 100%
}

#social-links {
    width: 26rem;
}

#social-links img {
    width: 2.8rem;
}

#footer-links {
    width: 48rem;
    font-size: 1.2rem;

    text-align: center;
}

#footer-links a {
    color: var(--gris);
    font-weight: bolder;

    line-height: .1rem;
    width: max-content;
    margin: 1rem;

    white-space: nowrap;
}
