* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.02em;
    text-decoration: none;
    color: #000000;
}

.header {
    background-color: #1F1D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 10%;
    width: 100%;
    height: 10%;
}

body {
    background-color: rgb(255, 255, 255);
    display: block;
}


.header .nav-links li {
    display: inline-block;
    padding: 20px;
}

.header .other-links li {
    display: inline-block;
    padding: 20px;
}

.header .logo img:hover {
    transform: scale(1.05);
    transition: 250ms;
}

.header .nav-links li:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.header .other-links li:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.header .logo img {
    height: 55px;
    width: auto;
}

.header .busqueda img {
    height: 35px;
    width: auto;
    cursor: pointer;
    transform: translateY(12px);
}

.header a {
    color: #5095AD;
}

input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 210px;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*A partir de aquí*/
.main,
.articulo-pequeño {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

h1,
p {
    text-align: center;
}


.main ul,
.articulo-pequeño ul {
    /*float: left; */
    text-align: center;
    padding: 0.5%;
    /*border-bottom: 1px solid #ccc;*/
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main img {
    width: 100%;
    margin-bottom: 0.5%;
}

.articulo .titulo {
    font-size: x-large;
}

.main .datos {
    font-size: small;
    font-style: italic;
    text-align: left;
    padding-left: 5%;
}

.main .texto {
    color: black;
    margin-top: 1%;
}

.main .texto-clicable:hover {
    color: #092b37;
    transition: 200ms;
}

.main .articulo-izquierdo {
    width: 25%;
}

.main .articulo-central {
    width: 50%;
}

.main .articulo-derecho {
    width: 25%;
}


.separador .top {
    width: 100%;
    border-top: 4px solid #000000;
    margin: 0.5% 0;
}

.separador .bottom {
    width: 100%;
    border-top: 1px solid #000000;
    margin: 0.5% 0;
}

.separador p {
    font-size: x-large;
    margin-left: 7%;
}

.articulo-pequeño img {
    width: 100%;
}

.articulo-pequeño ul {
    width: 25%;
}

.articulo-pequeño ul li a h4 {
    font-size: 1.2rem !important;
}

.videos-pequeños {
    width: 24%;
    height: auto;
    margin-left: 0.6%;
    padding: 10px;
}

.videos {
    margin-bottom: 3rem;
}

/*Footer*/
#footer {
    background-color: var(--negro);

    height: 5.5rem;
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;
}

#footer ul {
    list-style-type: none;

    justify-content: space-around;
    align-items: center;

    height: 100%;
}

#footer li {
    width: 100%
}

#social-links {
    width: 26rem;
}

#social-links img {
    width: 2.8rem;
}

#footer-links {
    width: 48rem;
    font-size: 1.2rem;

    text-align: center;
}

#footer-links a {
    color: var(--gris);
    font-weight: bolder;

    line-height: .1rem;
    width: max-content;
    margin: 1rem;

    white-space: nowrap;
}