<footer class="flex">
    <div class="flex">
        <a href="https://twitter.com"><img src="../icons/twitter.svg" alt="twitter"></a>
        <a href="https://instagram.com"><img src="../icons//instagram.svg" alt="instagram"></a>
        <a href="https://youtube.com"><img src="../icons/youtuve.svg" alt="youtube"></a>
        <a href="https://facebook.com"><img src="../icons/facebook.svg" alt="facebook"></a>
    </div>
    <div class="flex">
        <a href="aviso-legal">Aviso Legal</a>
        <a href="contacto">Contacto</a>
        <a href="politica-de-cookies">Política de Cookies</a>
        <a href="politica-de-privacidad">Política de privacidad</a>
    </div>
</footer>